
.forgotPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ede8d0;
}

.forgotPasswordContainer {
    background: rgb(208, 183, 183);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background: rgb(225, 204, 204);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(208, 188, 188);
}

.backButton {
    width: 100%;
    padding: 10px;
    background: rgb(225, 204, 204);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: rgb(208, 188, 188);
}

.successMessage {
    color: green;
    margin-top: 10px;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.submitButton,
.backButton {
    flex: 1;
}

